.adjust{
    width: 40rem;
    margin-left:20px;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    /* padding: 10px; */
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.box{
    padding:10px;
    font-size: 20px;
    text-align: center;
    background-color: pink;
    border: 1px solid black;
}
.box >div{
    font-size: 1.2rem;
}
.box >textarea{
    font-family: monospace;
}

.message{
    width: 4rem;
    height: 3rem;
    word-break: break-word;
}

.inputDate{
    width: 20rem;
    /* margin:auto; */
    margin-left:20px;
    display: flex;
    padding-top:10px;
    flex-direction: row;   
    /* justify-content: center; */
    align-items: center; 
    margin-bottom: 10px;
}

.inputDate >*{
    /* margin:6px; */
    font-size: 20px;
    padding:3px;
    /* border-radius: 10px; */
    border: 2px black solid;
}

.distribute{
    display: grid;
    grid-template-columns:1.2fr 1fr;
}

.upcoming{
    display: flex;
    flex-direction: column;
    /* padding: 12px; */
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 20px;
}

.infoup{
    /* margin: 7px; */
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: blueviolet;
    /* padding: 10px; */
}

.dateup{
    padding-left: 2px;
    width: 170px;
    border-bottom: 2px rgb(146, 146, 0) solid;
    padding: 8px;
    font-family: monospace;
    font-size: 20px;
    padding-right: 10px;
    background-color: pink;
}

.messageup{
    font-size: 20px;
    font-family: monospace;
    padding: 8px;
    width:100%;
    background-color: black;
    color:white;
    border-bottom: 2px white solid;
}

.uphead{
    font-size: 30px;
    text-align: center;
    width:100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: underline;
    padding-top: 20px;
}

.phead{
    font-size: 35px;
    text-align: center;
    width:100%;
    background-color: black;
    color:white;
    font-family: monospace;
    padding-top: 10px;
}


.author{
    position:fixed;
    bottom:0px;
    right:0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 100;
    background-color: black;
    color:white;
    padding:2px;
    font-size: 20px;
}

.info{
    position:fixed;
    top:5px;
    left:5px;
    padding:7px;
    font-size: 30px;
    border-radius: 50px;
    background-color: black;
    color:white; 
    z-index: 6;

}
.info:hover{
    background-color: rgb(65, 65, 65);
    transition: 200ms ease-in-out;
}

.showinfo{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height: 100vh;
    font-family: monospace;
    background-color: rgba(8, 70, 46, 0.99);
    transition: 500ms all;
    color:white;
    font-size: 25px;
}
.showinfo div{
    padding:40px;
}


@media (max-width: 700px) {
    .adjust{
        width:20rem;
    }
    .box textarea{
        padding:0px;
        width:45px;
    }
    .dateup{
        width: 20rem;
    }
    .box{
        padding:0px;
    }
    .distribute{   
     display: block;
    }
}